@import url(./normalize.min.css);
@import url(./milligram.min.css);
@import url(../fonts/lato/latofonts.css);
*{
    font-family: Lato;
}

hr{
    border-top: 1px solid #585757;
    width:80%;
    margin-left:10%;
}

.wireframe_nav{
    font-size:2em;
    text-align:center;
}

.question_title{
    color:#0063a7;
    text-align:center;
    margin-top:100px;
}

.third_qn_onwards{
    margin-top:20px !important;
}

.choose_more_domains .answer_choice{
    width:90%;
}

.selected_domain{
    background-color: #dde3eb;
}

.answer_choice{
    cursor:pointer;
    color:black;
    font-weight:normal;
    border: 0.1rem solid #585757;
    border-radius: .4rem;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
    width:100%;
}

.in_two_col .answer_choice{
    margin-left:initial;
}

.answers a{
    display:block;
    width:50%;
    margin-left:25%;
}

.in_two_col a{
    width:100%;
    margin-left:0;
}

.answer_choice:hover{
    background-color: #dde3eb;
}

.results_title{
    color:#0063a7;
    text-align:center;
}

.results_title p{
    color: #606c76;
}

.result_box{
    border-radius: .4rem;
    border:solid 1px;
    padding:15px !important;
    margin-bottom:15px !important;
}

.result_box{
    margin-right:2%;
}

.result_box:last-of-type{
    margin-right:0;
}

.result_title{
    font-size:1.3em;
    text-align:left;
    color:black;
    font-weight:bold;
    margin-bottom:5px;
}

.result_details, .result_date{
    text-align:left;
    color:black;
    font-weight:normal;
    margin-bottom:5px;
}

.result_separator{
    margin-top:30px;
}

.take_test_button{
    font-size: 1.7rem;
    height: 6rem;
    line-height: 6rem;
    padding: 0 2rem;
}

.mobile_scroll_for_results{
    text-align:center;
    font-size:0.8em;
    display:none;
}

.competency_desc h2{
    font-size:1.4em;
    font-weight:bold;
    text-align:center;
}

.competency_qn_separator{
    text-align:center;
    font-size:1em;
    margin-top:20px;
    margin-bottom:20px;
}

.competency_qn_separator hr{
    width:10%;
    margin-left:45%;
}

.see_full_results{
    text-align:center;
    margin-bottom:30px;
}

.see_full_results .button{
    font-size: 1.7rem;
    height: 6rem;
    line-height: 6rem;
    padding: 0 2rem;
}

.full_results_competencies{
    font-size:1.6em;
    color:black;
}

.full_results_good ul {
    list-style: none;
}

.full_results_good  ul li:before {
    content: '✓ ';
    font-weight:bold;
    color:mediumspringgreen;
}

.full_results_competencies li {
    list-style-position: inside;
    text-indent: -1em;
    margin-left: 1em;
}

.full_results_addresses *{
    font-weight:normal; 
    color:black;
}

.full_results_addresses p{
    font-weight:bold;
    margin-bottom:5px;
}

.full_result_box{
    font-size:1.4em;
    border-radius: .4rem;
    border:solid 1px;
    padding:15px !important;
    margin-bottom:25px !important;
}

.full_result_box a, .result_box a{
    cursor:pointer;
}


/*Mobile screens - width*/
@media (max-height: 50.0rem) {
    .mobile_scroll_for_results{
        display:initial;
    }
}


/*Mobile screens - width*/
@media (max-width: 40.0rem) {
    h1{
        font-size:2em;
    }

    .question_title{
        margin-top:20px;
    }

    .answer_choice a{
        width:90%;
        margin-left:5%;
    }

    .answers a{
        width:100%;
        margin-left:0;
    }

    .result_box, .full_result_box{
        width:100% !important;
    }

    .result_box:first-of-type{
        margin-right:0px;
    }
    .result_box:last-of-type{
        margin-left:0px;
    }

    .result_separator{
        margin-top:20px;
    }

    .competency_qn_separator hr{
        width:20%;
        margin-left:40%;
    }

    .competency_qn_separator{
        text-align:center;
        font-size:1em;
        margin-top:5px;
        margin-bottom:5px;
    }

    .choose_more_domains .answer_choice{
        margin-left:0px;
    }

    .in_two_col .answer_choice{
        margin-right:5%;
        margin-left:5%;
    }

    .full_results_addresses{
        margin-top:10px;
    }

    .full_results_competencies h2{
        font-size:1.2em;
    }
    .full_results_competencies ul{
        font-size:0.9em;
    }
}

