@import (once, less) "../../../../../lib/styles/constants.less";

.sal_logo{
    padding-top:30px;
    padding-bottom:15px;
    margin-left:30px;

    img{
        height:63px;
    }

    .lifted{
        color:@sal_grey;
        float:right;
        font-size:2em;
        font-weight:bold;
        margin-right:5px;
        margin-top:5px;
        letter-spacing:0.4em;

        @media (max-width: @medium_screen_width) {
            font-size:1.5em;
        }

        @media (max-width: @small_screen_width) {
            font-size:1.2em;
        }
        @media (max-width: 255px){
            display:none;
        }
    }

    @media (max-width: @medium_screen_width) {
        margin-left:5px;
        padding-top:15px;
        img{
            height:50px;
        }
    }
}

.sal_logo.center{
    text-align:center;
}


.intro{
    display:block;
    background-color:#0071bb;
    border-radius:@border_radius;
    width:100%;
    height:150px;
    margin-bottom:15px;

    .text{
        p{
            font-size:2.5em;
            font-weight:bold;
        }
            width:100%;
            float:left;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
        float:left;
        color:white;
        /*padding-left:30px;*/
        text-align:center;
    }

    @media (max-width: @medium_screen_width) {
        height:130px;

        .text{
            /*padding-left:15px;*/
            p{
                font-size:2em;
            }
        }
    }

    @media (max-width: @small_screen_width) {
        height: 80px !important;
        .text{
            /*padding-left:15px;*/
            p{
                font-size:1.5em;
                padding-left:10px;
                padding-right:10px;
            }
        }
    }
}

.intro_option{
    float:left;
    width:100%;
    margin-bottom: 2em;

    @media (max-width: @medium_screen_width) {
        margin-bottom: 0.5em;
    }

    &:last-of-type{
        margin-bottom: 0.5em;
    }

    a{
        text-decoration:none;
        float:left;
        width:100%;
    }

    .icon{
        float:right;
        margin-right:30px;

        @media (max-width: @medium_screen_width) {
            margin-right:1em;
            margin-top:0.5em;
            img{
                width:60px;
            }
        }

        @media (max-width: @small_screen_width) {
            font-size:2em;
        }
    }

    .desc{
        float:left;
        width:60%;
        margin-left:30px;
        @media (max-width: @medium_screen_width) {
            margin-left:0px;
        }
    }

    h2{
        font-size:2em;
        font-weight:normal;
        color:@sal_blue;
        @media (max-width: @medium_screen_width) {
            font-size:1.5em;
            padding-left:15px;
        }
    }
}

.credits{
    float:left;
    width:100%;
    text-align:center;
    margin-top:3em;
    color: @sal_grey;
    a { 
        color:grey;
    }
}

