{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>LIFTED Mobile CMS - Login</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" 
              name="viewport"/>
        <meta charset="utf-8">
        {% if DEV %}
            <link rel="stylesheet" href="http://0.0.0.0:9080/style.css" />
        {% else %}
            <link rel="stylesheet" href="{% static "/app/dist/style.css" %}" />
        {% endif %}
    </head>

    <body>
        <div class="pure-g login_form">
            <div class="pure-u-1">
                <form method="post" action="/cms/login/" class="pure-form">

                    {% csrf_token %}

                    <input type="hidden" name="next" value="/cms/" />

                    <h1>Log in to the LIFTED Mobile CMS</h1>

                    {% if login_failed %}
                        <div class="login_failed">
                            <p>Could not log in. Please try again.</p>
                        </div>
                    {% endif %}

                    <p>{{ form.username.label_tag }}</p>
                    <p><input type="text" name="username" autofocus required 
                           id="id_username" 
                           maxlength="254" /></p>

                    <p>{{ form.password.label_tag }}</p>
                    <p><input type="password" name="password" required 
                              id="id_password" /></p>
                    <input class="pure-button pure-button-primary button-large" 
                       id="submit_btn"
                        type="submit" value="Login" />
                </form>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
