{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LIFTED Mobile</title>
        <meta content="width=device-width, initial-scale=1.0, 
                       maximum-scale=1.0, user-scalable=no" 
                       name="viewport"/>
        <meta charset="utf-8">
        <link rel="manifest" href="{% static "/app/dist/manifest.json" %}?v={{ cache_bust }}" />
        <meta name="theme-color" content="#0060a2"/>
        <link rel="stylesheet" href="{% static "/app/dist/style.css" %}?v={{ cache_bust }}" />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "/app/dist/favicons/apple-touch-icon.png" %}?v={{ cache_bust }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "/app/dist/favicons/favicon-32x32.png" %}?v={{ cache_bust }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "/app/dist/favicons/favicon-16x16.png" %}?v={{ cache_bust }}">
        <link rel="mask-icon" href="{% static "/app/dist/favicons/safari-pinned-tab.svg" %}?v={{ cache_bust }}" color="#176fc1">
        <link rel="shortcut icon" href="{% static "/app/dist/favicons/favicon.ico" %}?v={{ cache_bust }}">
        <meta name="msapplication-config" content="{% static "/app/dist/favicons/browserconfig.xml" %}?v={{ cache_bust }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <noscript><p>This page requires Javascript.</p></noscript>
        {% block body %}{% endblock %}
    </body>
</html>
