{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>LIFTED Mobile</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "/app/dist/style.css" %}" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script defer src="{% static "/app/dist/bundle.js" %}"></script>
        <script>window.fetch||document.write('<script src="{% static "/polyfills.js" %}"><\/script>')</script>

    </body>
</html>


