{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LIFTED Mobile CMS</title>
        <meta content="width=device-width, initial-scale=1.0, 
                       maximum-scale=1.0, user-scalable=no" 
                       name="viewport"/>
        <meta charset="utf-8">
        <meta name="theme-color" content="#0060a2"/>

        {% if DEV %}
            <link rel="manifest" 
                href="http://0.0.0.0:9080/manifest.json?v={{ cache_bust }}" />
            <!-- Styles are embedded by webpack-dev-server -->
            <link rel="stylesheet" href="http://0.0.0.0:9080/style.css?v={{cache_bust}}" />
        {% else %}
            <link rel="manifest" 
                href="{% static "/cms/dist/manifest.json" %}?v={{ cache_bust }}" />
            <link rel="stylesheet" 
                href="{% static "/cms/dist/style.css" %}?v={{ cache_bust }}" />
        {% endif %}

        {% block head %}{% endblock %}
    </head>
    <body>
        <noscript><p>This page requires Javascript.</p></noscript>
        {% block body %}{% endblock %}

        {% if DEV %}

            <script defer src="http://0.0.0.0:9080/bundle.js?v={{ cache_bust }}"></script>
            <script>
                window.fetch||document.write('<script src="http://0.0.0.0:9080/polyfills.js?v={{ cache_bust }}"><\/script>')
            </script>

        {% else %}

            <script defer src="{% static "/cms/dist/bundle.js" %}?v={{ cache_bust }}"></script>
            <script>
                window.fetch||document.write('<script src="{% static "/cms/dist/polyfills.js" %}?v={{ cache_bust }}"><\/script>')
            </script>

        {% endif %}

        <div class="preload_lato_bold">&nbsp;</div>
    </body>
</html>

