@import (once, css) "pure-min.css";
@import (once, css) "./grids-responsive-min.css";
@import (once, css) "./pure_tweaks.css";
@import (once, css) "./fonts.css";
@import (once, css) "./loading_anim.css";

@hover_bg_color: #edf3fb;
@selected_bg_color: #dde3eb;
@sal_blue: #0063a7;
@border_radius: .4rem;
@link_blue: rgb(0, 0, 238);

*, html, body {
    font-family: Lato, Arial;
    /*font-weight: 300;*/
}

.preload_lato_bold{
    font-family: Lato;
    font-weight:bold;
}

.mobile_only{
    display:none;
}

h1{
    text-align:center;
    font-weight: normal;
    color: @sal_blue;
    font-size: 4em;
}

p{
    font-size:2em;
}

hr{
    border-top: 1px solid #585757;
    width:80%;
    margin-left:10%;
	margin-top:30px;
	margin-bottom:30px;
}

.rec_courses{
    h1{
        font-size:2em;
    }
}

.login_form{
    input{
        width:95%;
    }
    .button-large, p{
        font-size:1.8em;
    }
}

.question_small{
    .question{
        margin-top:initial;

        h1{
            font-size:2em;
        }

        .answer{
            font-size: 2em;
        }

        .answer{
            padding-left: 2.5em;
            padding-right: 2.5em;
        }

    }
}

.take_test_prompt{
    margin-top:80px;
    text-align:center;

    h1{
        font-size:2em;
    }

    .take_test_button{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        font-size: 2em;
        font-weight:bold;
        padding-top:1.5em;
        padding-bottom:1.5em;
        padding-left:2em;
        padding-right:2em;
        color: @sal_blue;
        margin-bottom: 1.0rem;
        border: 1px solid;
        border-radius: @border_radius;
        display:block;
        /*height: 5em;*/
        /*line-height: 6em;*/
    }
}

.question{
    margin-top: 100px;
	margin-bottom: 50px;
    text-align:center;

    .toggle{
        display:none;
    }

    .answer{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor:pointer;
        color:black;
        font-size: 2.5em;
        border: 1px solid #585757;
        border-radius: @border_radius;
        text-align:center;
        padding-left:10px;
        padding-right:10px;
        padding-top:15px;
        padding-bottom:15px;
        margin-bottom:15px;

        &:hover{
            /*background-color: @hover_bg_color;*/
        }
    }

    .option_tick{
        visibility:hidden;
        /*display:none;*/
        float:left;
        width: 20px;
        margin-right: 0;
    }
    
    .role_option_text{
        .desc{
            font-size:1em;
            margin-bottom:5px;
            display:block;
        }
        .role{
            font-weight:bold;
            font-size:0.8em;
        }
    }

    .selected{
        background-color:@selected_bg_color;
        font-weight:bold;

        .option_tick{
            display:initial;
            visibility:visible;
            color:@sal_blue;
        }

        .option_text{
            float:right;
        }
    }

    .disabled, 
    .disabled:hover{
        background-color: #eeeeee;
        color:#dddddd;
    }

    .scroll_down_msg{
        display: none;
    }
}

.for_better_results{
    margin-bottom:64px;
}

.competency_anchor,
.select_level a,
.select_level a:visited,
.scroll_link:visited,
.scroll_link{
    color: @link_blue;
    text-decoration:none;
}

.courses{
    .sorter{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select:none;

        text-align:center;
        /*display:none;*/

        a{
            display:inline-block;
            margin-left:10px;
            text-decoration:none;
            color:@link_blue;
            cursor:pointer;
            &:visited{
                color:@link_blue;
            }
        }

        .symbol{
            color:black;
            margin-left:10px;
        }
    }

    width:100%;
    p, h2{
        text-align:center;
    }

    h2{
        font-size:3.5em;
        font-weight: normal;
        color: @sal_blue;
        margin-bottom:20px;
    }
    
    .course_table{
        width:100%;
        font-size:1.4em;


        thead{
            font-weight:bold;
            td{
                white-space: nowrap;
                &:first-of-type{
                    width:400px;
                }
                &:last-of-type{
                    width:200px;
                }
            }
            .sorter{
                text-align:left;
                padding-left:0.7em;
                margin-left:0;
                cursor:pointer;
                a{
                    color:black;
                    margin-left:5px;
                }
            }        
        }

        tr{
            border-bottom: 1px solid #cbcbcb;
                text-align:left;
        }
    }
}

.course_notice{
    text-align:center;
    // Prevent height flash-change before the div gets rendered
    min-height:112px; 
}

.why_learn_qn{
    .question{
        margin-top:0;
        margin-bottom:0;
    }
}


.role_picker{
    .question{
        margin-top:0;
        .level_block{
            /*background-color:#efefef;*/
            /*border-radius:@border_radius;*/
            border-top:solid 1px;
            padding-top:30px;
            padding-bottom:60px;
        }
        .level_block:first-of-type{
            border:none;
            padding-top:0;
        }
    }

    .level{
        font-size:40px;
        font-weight:bold;
        margin-bottom:40px;
        margin-top:40px;
    }

    .select_level{
        a{
            margin-right:10px;
        }

        a:last-of-type{
            margin-right:0px;
        }
    }
}

.diag{
    .highlight{
        background-color:#ffe6e6;
        border-radius: @border_radius;
    }

    p.highlight.warning{
        margin-bottom:50px;
        padding:10px;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }

    .diag_qn{
        margin-bottom:80px;
        p{
            font-size:2.5em;
        }

        p, 
        .answer{
            width: 80%;
            margin-left: 10%;
        }

        &:last-of-type{
            margin-bottom:50px;
        }

    }

    .diag_button.disabled{
        color:grey;
        cursor: default;
    }

    .diag_button{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        display:inline-block;
        cursor: pointer;
        font-size: 2em;
        font-weight:bold;
        line-height: 3em;
        padding-top:1em;
        padding-bottom:1em;
        padding-left:2em;
        padding-right:2em;
        color: @sal_blue;
        margin-bottom: 1.0rem;
        border: 1px solid;
        border-radius: @border_radius;
    }
}

.results {
    .stars{
        color:@sal_blue;
    }

    .competencies{
        table{
            margin:auto;
            font-size:2em;
            thead{
                line-height:1.5em;
                th{
                    text-align:left;
                    padding:0.25em;
                }
            }

            td{
                text-align:left;
                padding:0.25em;
            }

            td.special{
                padding-top:1em;
                padding-bottom:1em;
                text-align:center;
                font-weight:bold;
            }
        }

        .star{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select:none;
            cursor:default;
        }

        .empty{
            color:grey;
        }
    }
}

@media (max-width: 568px) {
    .results {
        .competencies{
            table{
                font-size:0.8em;
            }
        }
    }

    .diag{
        .diag_qn{
            margin-bottom:30px;
            p{
                font-size:1.5em;
            }

            p, 
            .answer{
                width: auto;
                margin-left: auto;
            }
        }

        .diag_button{
            padding: .5em .5em;
            line-height: 1.2em;
            display: inline-block;
            height: initial;
        }
    }

    .question {
        .role_option_text{
            font-size:0.8em;
        }

        .answer{
            padding-top:0.3em;
            padding-bottom:0.3em;
        }

        .goals{
            display:none;
        }
        .show{
            display:initial;
        }
    }

    .course_notice{
        min-height:auto;
        p{
            margin-top:5px;
            margin-bottom:5px;
        }
    }

    .take_test_prompt{
        margin-top:15px;
    }

    .take_test_prompt .take_test_button{
        padding: 0.9em 1.2em;
        /*line-height:3.5em;*/
        font-size:1.5em;
    }

    .scroll_down_msg{
        display: initial !important;
    }

    .question_small{
        .question{
            margin-bottom:15px;
            .answer{
                font-size:1.25em;
                padding: 15px 10px;
            }
            .answer.tile{
                padding: 10px 6px; 
            }
        }
    }

    .role_picker{
        .select_level{
            font-size:1.2em;
        }

        .level{
            font-size:19.2px;
            margin-top:20px;
            margin-bottom:20px;

            .role{
                border: solid 1px;
                border-radius: @border_radius;
                padding-top:0;
                padding-bottom:0;
                margin-bottom:10px;
            }
        }
    }
}


.diag_courses{
    .category_name{
        font-weight:bold;
        display:inline-block;
        margin-top:48px;
        margin-bottom:0;
    }

    .not_found{
        width:75%;
        margin:auto;
    }

    p.back_to_top{
        text-align:right;
        font-size:1.2em;
        margin-top:0px;
    }
}


@media (max-width: 768px) {
    .mobile_only{
        display:initial;
    }

    p{
        font-size:1em;
    }

    hr{
        border-top: 1px solid #585757;
        width:90%;
        margin-left:5%;
        margin-top:15px;
        margin-bottom:15px;
    }

    .question{
        .no_toggle{
            display:none;
        }
        .toggle{
            cursor:pointer;
            display:inline-block;
            .toggle_arrow{
                color:@sal_blue;
            }
            p{
                margin-bottom:0;
            }
        }

        margin-top: 10px;

        h1{
            font-size:2em;
            margin-bottom:15px;
        }

        .answer{
            font-size:1.25em;
        }

        .tile{
            font-size: 1em;
            margin-bottom:5px;
            padding: 10px 6px; 
            
            .option_tick{
                visibility:hidden;
            }
        }
        .selected{
            .option_tick{
                visibility:visible;
            }
        }
    }

    .for_better_results{
        margin-bottom:0px;
    }

    .courses{
        .sorter{
            display:initial;

            .symbol{
                margin-left:3px;
            }
        }

        h2{
            font-size:2em;
            margin-top:21.44px;
            margin-bottom:10px;
        }

        .course_table,
        .course_table tbody{
            display: block;
            width: 100%;
        }

        .course_table {
            border:none;
            thead{
                display:none;
            }

            tr, th, td {
                display: block;
                padding: 0;
                text-align: left;
                white-space: normal;
            }

            tr{
                padding: 10px;
                margin-bottom: 10px;
                float:left;
            }

            th[data-title]:before,
            td[data-title]:before {
                content: attr(data-title) ":\00A0";
                font-weight: bold;
            }

            td {
                border: none;
                margin-bottom: 5px;
                font-size:0.7em;
                color: #444;
                float:left;
                width:47%;

                &:nth-of-type(2n){
                    margin-right:10px;
                }

                &:empty { 
                    display: none;
                }
            }

            // Let the last <td> element take up the full width
            // only if the number of <td> elements is odd
            td:last-child:not(:nth-child(odd)){
                width:100%;
                margin-right:0;
            }

            td:first-child {
                font-size: 0.7em;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;
                width:100%;
            }

            td:first-child:before { 
                content: ''; 
            }
        }
    }

    .diag_courses{
        p.back_to_top{
            font-size:0.8em;
        }
    }
}

/*@media (max-width: 1024px) {*/
/*}*/

/*@media (max-width: 1280px) {*/
/*}*/
