@import (once, less) "../../../lib/styles/constants.less";
.scraper_control{
    border:solid 1px grey;
    margin-bottom:2em;
    padding:1em;
    border-radius:@border_radius;

    .label{
        font-weight:bold;
    }

    .pause_button{
        color:white;
        background: rgb(202, 60, 60);
    }

    .start_button{
        color:white;
        background: rgb(28, 184, 65);
    }
}
