argon2-cffi==16.3.0
beautifulsoup4==4.6.0
boto3==1.4.8
botocore==1.8.5
cffi==1.11.2
Django==1.11.7
django-htmlmin==0.10.0
django-querycount==0.7.0
docutils==0.14
gunicorn==19.7.1
hashids==1.2.0
html5lib==0.999999999
jmespath==0.9.3
lml==0.0.2
lxml==4.1.1
pycparser==2.18
pyexcel-io==0.5.4
pyexcel-odsr==0.5.2
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.12
six==1.11.0
uWSGI==2.0.15
watchtower==0.5.2
webencodings==0.5.1
